/* press-start-2p-regular - latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../Font/press-start-2p-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url('../fonts/press-start-2p-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Font/press-start-2p-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Font/press-start-2p-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../Font/press-start-2p-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Font/press-start-2p-v6-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}

input {
    font-family: 'Press Start 2P';
    font-size: 18px;
    color: rgb(0, 255, 70);
    background-color: black;
    border: none;
    width: 750px;
    outline: none;
}

p {
    float: left;
    font-family: 'Press Start 2P';
    font-size: 18px;
    color: rgb(0, 255, 70);
    background-color: black;
    margin: 0px;
    padding: 5px;
}

#bar {
    overflow: hidden;
    padding-right: .5em;
}

body {
    
}

#console {
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Press Start 2P';
    color: rgb(0, 255, 70);
    width: 750px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -375px;
    margin-top: -250px;
}

tr {
    background-color: rgb(0, 0, 0);
    width: 750px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Press Start 2P';
    color: rgb(0, 255, 70);
}