@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="~/Scripts/p5.js" type="text/javascript"></script>
    <script src="~/Scripts/p5.dom.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Stylesheets/style.css">
</head>

<body>
    <script type="text/javascript">
        var input;
        var row1;
        var table1;
        var div1;

        function setup() {
            noCanvas();
            table1 = createElement('table');
            div1 = createDiv('>');
            input = createInput();
            div1.style("float", "left");
            input.style("width", "500px");
            input.style("border", "none");
            input.style("background", "black");
            input.style("color", "greenyellow");
            input.style("font-size", "18px");
            input.style("font-family", "monospace");
            input.style("outline", "none");

            input.changed(change);
        }

        function change() {
            var row = createElement('tr');
            row.parent(table1);
            row.html('>' + input.value());
            input.value('');
        }
        function keyPressed() {
            if (keyCode == ENTER && (input.value() == /^\s+$/gi || input.value() == '')) {
                var row = createElement('tr');
                row.parent(table1);
                row.html('>');
            }
        }
    </script>
</body>
