@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="~/Scripts/p5.js" type="text/javascript"></script>
    <script src="~/Scripts/p5.dom.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
    <script type="text/javascript">
        var input;
        var row;
        var termTable;
        var div1;
        var test;

        function setup() {
            noCanvas();
            termTable = createElement('table');
            div1 = createDiv('>');
            input = createInput();         
            input.parent(div1);
            input.elt.focus();
            div1.style("float", "left");         
            
            //function creates a new row for the termTable 'termTable' when pressed enter
            input.changed(terminal);
        }

        function createRow(){
        }

        function terminal() {
            
            //creates the new row
            row = createElement('tr');
            row.parent(termTable);

            //adds text and styling to each row
            //row.html('>You typed: ' + input.value());
            var command = input.value();
            command.trim();
            var index = command.indexOf(' ');
            var commandStrTwo = command.substring(index + 1);
            var commandStrOne = command.substring(0, index);

            if(commandStrOne == "echo") { 
                echoCom(commandStrTwo);
            }
            else if (command == "clear") {
                clearCom();
            }
            else {
                notCom(command);
            }

            row.style("font-family", "Press Start 2P");
            row.style("font-size", "24px");
            
            input.value('');
            
        }

        function keyPressed() {
            if (keyCode == ENTER && (input.value() == /^\s+$/gi || input.value() == '')) {
                row = createElement('tr');
                row.parent(termTable);
                row.html('>');
            }
        }

        function echoCom(str){
            row = createElement('tr');
            row.parent(termTable);
            row.html('>' + str);
        }

        function clearCom() {
            termTable.remove();
            div1.remove();
            input.remove();
            termTable = createElement("table");
            div1 = createDiv('>');
            input = createInput();
            input.parent(div1);
            input.elt.focus();

            input.changed(terminal);
        }

        function notCom(str) {
            row = createElement('tr');
            row.parent(termTable);
            row.html('>' + str + ' is not a command!');
        }
    </script>
</body>
