@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="~/Scripts/p5.js" type="text/javascript"></script>
    <script src="~/Scripts/p5.dom.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
    <div id="console">
        <script type="text/javascript">
            var input;
            var row;
            var termTable;
            var div1;
            var test;
            var placeHolder;

            function setup() {
                noCanvas();
                termTable = createElement('table');
                termTable.parent("console");

                placeHolder = createP('>');
                placeHolder.parent("console");

                div1 = createDiv();
                div1.parent("console");
                div1.id('bar');

                input = createInput();
                input.parent(div1);

                input.elt.focus();

                //function creates a new row for the termTable 'termTable' when pressed enter
                input.changed(terminal);
            }

            function createRow() {
                row = createElement('tr');
                row.parent(termTable);
            }

            function terminal() {

                //creates the new row
                row = createElement('tr');
                row.parent(termTable);

                //adds text and styling to each row
                //row.html('>You typed: ' + input.value());
                var command = input.value();
                command = command.trim();
                var index = command.indexOf(' ');
                var commandStrTwo = command.substring(index + 1);
                var commandStrOne = command.substring(0, index);

                //command conditionals
                if (commandStrOne == "echo") {
                    echoCom(commandStrTwo);
                }
                else if (command == "clear") {
                    clearCom();
                }
                else {
                    notCom(command);
                }

                input.value('');
            }

            function keyPressed() {
                if (keyCode == ENTER && input.value() == '') {
                    createRow();
                    row.html('>');
                }
            }

            function echoCom(str) {
                createRow();
                row.html('>' + str);
            }

            function helpCom(){
            }

            function clearCom() {
                termTable.remove();
                div1.remove();
                input.remove();
                placeHolder.remove();

                termTable = createElement('table');
                termTable.parent("console");

                placeHolder = createP('>');
                placeHolder.parent("console");

                div1 = createDiv();
                div1.parent("console");
                div1.id('bar');

                input = createInput();
                input.parent(div1);

                input.elt.focus();

                input.changed(terminal);
            }

            function notCom(str) {
                row = createElement('tr');
                row.parent(termTable);
                if (str == '') {
                    row.html('>');
                }
                else {
                    row.html('>' + str + ' is not a command!');
                }     
            }
        </script>
    </div>
</body>
